<!DOCTYPE html>
<html ng-app="testlabApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Test Lab Sample Web Application</title>

	<link rel="stylesheet" href="lib/vendor/vendor.css" />
	<!-- <link rel="stylesheet" href="lib/vendor/ngtable-bower/ng-table.css" /> -->
    <link rel="stylesheet" href="css/app.css" />

	<script type="text/javascript" src="lib/vendor/vendor.js"></script>

<!-- 	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script> -->
<!-- 	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script> -->
<!-- 	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script> -->

<!-- 	<script type="text/javascript" src="scripts/global-config.js"></script> -->

	<script type="text/javascript" src="scripts/app.js"></script>

<!-- 	<style type="text/css"> -->
<!-- 		[ng\:cloak], [ng-cloak], .ng-cloak { -->
<!-- 			display: none !important; -->
<!-- 		} -->
<!-- 	</style> -->
</head>

<body>
	<header class="site-header" role="banner">
		<div class="container" style="text-align: center">
			<div class="row" style="padding-bottom: 15px;">
				<div class="col col-sm-1">
					<a href="#"><img src="resources/images/logo/main-logo-animated.gif" /></a>
				</div>
				<div class="col col-sm-auto pull-right hidden-xs" style="margin-top: 95px;">
					<a href="#"><img src="resources/images/logo/singapore_govt.jpg" /></a>
					<div style="padding-top: 10px;"><a href="#">Feedback</a> | <a href="#">Contact Us</a> | <a href="#">Sitemap</a></div>
				</div>
			</div>
		</div>
	</header>

	<nav ng-controller="Main.NavbarCtrl" class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
			</div>

			<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
				<ul class="nav navbar-nav">
<!-- 					<li class="dropdown"> -->
<!-- 						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> e-Services <span class="caret"></span></a> -->
<!-- 						<ul class="dropdown-menu"> -->
<!-- 				          <li><a href="#">Page 1-1</a></li> -->
<!-- 				          <li><a href="#">Page 1-2</a></li> -->
<!-- 				          <li><a href="#">Page 1-3</a></li> -->
<!-- 				        </ul> -->
<!-- 					</li> -->
					<li ng-if="isPublic()"><a href="/#!/applnApplyNew/1"><span ng-if="!isAuthenticated()" class="glyphicon glyphicon-lock"></span> Apply New Application</a></li>
					<li ng-if="isPublic()"><a href="/#!/applnEnquire"><span ng-if="!isAuthenticated()" class="glyphicon glyphicon-lock"></span> Enquire Application Status</a></li>
					<li ng-if="isPO()"><a href="/#!/task/list"><span ng-if="!isAuthenticated()" class="glyphicon glyphicon-lock"></span> Applications for Processing</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!isAuthenticated()" class="highlight"><a href="/#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li ng-if="isAuthenticated()" class="highlight"><a href="/#!/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>

<!--       <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"> -->

<!--         <ul class="nav navbar-nav"> -->
<!--           <li dropdown> -->
<!--             <a href="#" dropdown-toggle> -->
<!--               Dropdown -->
<!--               <b class='caret'></b> -->
<!--             </a> -->
<!--             <tree tree='tree'></tree> -->
<!--           </li> -->
<!--           <li dropdown> -->
<!--             <a href="#" dropdown-toggle> -->
<!--               Just a clone -->
<!--               <span class='caret'></span> -->
<!--             </a> -->
<!--             <tree tree='tree'></tree> -->
<!--           </li> -->
<!--         </ul> -->
<!--         </div>/.navbar-collapse -->
<!-- 		</div> -->
	</nav>

	<div class="container" ui-view></div>


	<!-- 	<div ng-controller="navigation as nav" class="container"> -->
<!-- 		<ul class="nav nav-pills" role="tablist"> -->
<!-- 			<li class="active"><a href="#/">home</a></li> -->
<!-- 			<li><a href="#/login">login</a></li> -->
<!-- 			<li ng-show="authenticated"><a href="" ng-click="nav.logout()">logout</a></li> -->
<!-- 		</ul> -->
<!-- 	</div> -->


<!-- 	<div> -->
<!-- 		<div ng-controller="mainNavController"> -->
<!-- 			<nav class="navbar navbar-inverse" role="navigation"> -->
<!-- 				<div class="container"> -->

<!-- 					 Collect the nav links, forms, and other content for toggling -->
<!-- 					<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"> -->
<!-- 						<ul class="nav navbar-nav"> -->
<!-- 							<li dropdown> -->
<!-- 							</li> -->
<!-- 						</ul> -->

<!-- 						<ul class="nav navbar-nav navbar-right"> -->
<!-- 							<li ng-show="!authenticated"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
<!-- 							<li ng-show="authenticated"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li> -->
<!-- 						</ul> -->
<!-- 					</div> -->
<!-- 					 /.navbar-collapse -->
<!-- 				</div> -->



<!-- 			</nav> -->
<!-- 		</div> -->
<!-- 	</div> -->


	<div ng-view class="container"></div>

<!-- 	<div class="container"> -->
<!-- 		<h1>Greeting</h1> -->
<!-- 		<div ng-controller="home as home" ng-cloak class="ng-cloak"> -->
<!-- 			<p>The ID is {{home.greeting.id}}</p> -->
<!-- 			<p>The content is {{home.greeting.content}}</p> -->
<!-- 		</div> -->
<!-- 	</div> -->
</body>
</html>
