<h1>Greeting {{ data.user.name }}</h1>
<div>
	<img src="resources/images/Welcome-32bit.bmp" />
</div>

<!-- <div ng-show="authenticated"> -->
<!--     <p>The ID is {{controller.greeting.id}}</p> -->
<!--     <p>The content is {{controller.greeting.content}}</p> -->
<!-- </div> -->
<!-- <div  ng-show="!authenticated"> -->
<!--     <p>Login to see your greeting</p> -->
<!-- </div> -->
