<div class="alert alert-danger" ng-show="error">
    {{errorMsg}}
<!--     There was a problem logging in. Please try again. -->
</div>
<form role="form" ng-submit="login()" method="post">
	<div class="row">
		<div class="bg-warning col-md-8" style="padding: 5px 20px 10px 20px;">
			<h3>Important Notes for ALL users:</h3>
			<ol>
				<li>The login will take about 1 minute to complete. By proceeding with the login, you shall be deemed to have read and agreed to be bound by the <a href="#/termOfUse">Terms of Use.</a></li>
				<li>On successful login, please click on the &lt;Logout&gt; button if you need to end the session.</li>
			</ol>		
		</div>
	
		<div class="hidden-md hidden-lg" style="height: 20px;"></div>
	
		<div class="col-md-4">
		    <div class="form-group">
		        <label for="username">Username:</label>
		        <input type="text" class="form-control" id="username" name="username" ng-model="user.username"/>
		    </div>
		    <div class="form-group">
		        <label for="password">Password:</label>
		        <input type="password" class="form-control" id="password" name="password" ng-model="user.password"/>
		    </div>
		    <button type="submit" class="btn btn-primary">Login</button>
		</div>
	</div>
</form>