<h1>Profile</h1>

<!-- <div ng-show="authenticated"> -->
<!--     <p>The ID is {{controller.greeting.id}}</p> -->
<!--     <p>The content is {{controller.greeting.content}}</p> -->
<!-- </div> -->
<!-- <div  ng-show="!authenticated"> -->
<!--     <p>Login to see your greeting</p> -->
<!-- </div> -->