body:before {
	background: -webkit-linear-gradient(to right, #813296, #456bbf, #149be1);
	background: -o-linear-gradient(to right, #813296, #456bbf, #149be1);
	background: -moz-linear-gradient(to right, #813296, #456bbf, #149be1);
	background: linear-gradient(to right, #813296, #456bbf, #149be1);
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	z-index: 3000;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-header a {
	text-decoration: none;
	color: black;
}

.form-horizontal .control-label {
    text-align: left;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}








.progress-numbering {
	margin: 60px 0px 10px; width: 100%; float: left;
}
.progress-numbering ul {
	padding: 0px; width: 100%; display: table; position: relative; table-layout: fixed; counter-reset: step;
}
.progress-numbering ul li {
	text-align: center; float: none; display: table-cell; position: relative;
}
.progress-numbering ul li::before {
	border-radius: 50%; border: 2px solid rgb(185, 185, 185); border-image: none; left: 50%; width: 40px; height: 40px; text-align: center; color: rgb(153, 153, 153); line-height: 36px; font-size: 15px; margin-top: -42px; margin-left: -20px; display: block; position: absolute; z-index: 9; content: counter(step, decimal); counter-increment: step; background-color: white;
}
.progress-numbering ul li::after {
	left: 0px; top: -20px; width: 100%; height: 2px; position: absolute; content: ""; background-color: rgb(185, 185, 185);
}
.progress-numbering ul li a {
	text-decoration: none;
	color: rgb(185, 185, 185); font-size: 12px; font-weight: 600;
}
.progress-numbering ul li a span {
	display: block;
}
.progress-numbering ul li.completed::before {
	border-color: rgb(127, 209, 98);
}
.progress-numbering ul li.completed::after {
	background: rgb(127, 209, 98);
}
.progress-numbering ul li.completed a {
	color: rgb(127, 209, 98);
	pointer-events: none;
}
.progress-numbering ul li.active::before {
	background: rgb(95, 177, 66); border-color: rgb(95, 177, 66); color: rgb(255, 255, 255);
}
.progress-numbering ul li.active::after {
	background: rgb(95, 177, 66);
}
.progress-numbering ul li.active a {
	color: green;
	pointer-events: none;
}
.progress-numbering ul li.next a {
	pointer-events: none;
}
.progress-numbering ul li.visited.next a {
	pointer-events: auto;
}
