<form role="form" ng-submit="submit()" method="post">
	<div class="bg-success" style="padding: 4px 25px 15px 25px;">
		<h3>Application Submitted Successfully. Application Ref. No: {{data.createdApplication.applicationRefNo}}</h3>
		
		Please quote your Application Ref. No. for subsequent correspondence.
	</div>	
	<div>&nbsp;</div>
	<hr />
	<input class="btn btn-default btn-lg" type="button" value="Go to Homepage" ng-click="back()">
</form>