<form name="applicationForm" role="form" ng-submit="submit()" method="post" class="form-horizontal">
	<div class="jumbotron" style="padding: 20px 35px 15px 35px;">
		<h4>Application Details</h4>
		<hr/>
		<div class="form-group">
			<label for="applicationType" class="col-sm-4 control-label">Type of Application <span style="color:red;">*</span></label>
			<div class="col-sm-8">
				<select class="form-control" id="applicationType" name="applicationType" ng-model="data.application.applicationTypeCd" required="true">
					<option></option>
					<option ng-repeat="option in optionsData.applnTypeOptions" value="{{option.id}}">{{option.description}}</option>
				</select>
			</div>
		</div>

		<div style="height: 40px;"></div>
		<h4>Applicant Details</h4>
		<hr/>
		<div class="form-group">
			<label for="applicantName" class="col-sm-4 control-label">Name <span style="color:red;">*</span></label>
			<div class="col-sm-8">
				<input type="text" input-validation-alphabet-only class="form-control" id="applicantName" name="applicantName" ng-model="data.applicant.name" required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="applicantNric" class="col-sm-4 control-label">NRIC <span style="color:red;">*</span></label>
			<div class="col-sm-8">
				<input type="text" input-validation-alphanumeric-only class="form-control" id="applicantNric" name="applicantNric" ng-model="data.applicant.nric" required="true" >
			</div>
		</div>
		<div class="form-group">
			<label for="applicantGender" class="col-sm-4 control-label">Gender</label>
			<div class="col-sm-8">
				<label class="radio-inline" ng-repeat="option in optionsData.genderOptions">
					<input name="applicantGender" type="radio" ng-model="data.applicant.genderCd" value="{{option.id}}"> {{option.value}}
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="applicantDob" class="col-sm-4 control-label">Date of Birth</label>
			<div class="col-sm-8">
				<!-- <input type="date" class="form-control" id="applicantDob" name="applicantDob" ng-model="data.applicant.dob" placeholder="yyyy-MM-dd"> -->
				<datetimepicker ng-model="data.applicant.dob" date-format="dd/MM/yyyy"
	      date-options="applicantDobOptions"
	      date-disabled="disabled(date, mode)"
	      datepicker-append-to-body="false"
	      hidden-time="true"
	      name="applicantDob"
	      date-opened="dateOpened"
	      show-button-bar="true"
	      min-date="minDate"
	      max-date="maxDate"
	      >
	      <!-- Use date-ng-click="open($event, opened)" to override date ng-click -->
	      </datetimepicker>
				<button type="button" style="height:34px;" class="btn btn-default" ng-click="dateOpened = true">
					<i class="fa fa-calendar"></i>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label for="applicantBirthCountry" class="col-sm-4 control-label">Country of Birth</label>
			<div class="col-sm-8">
				<select class="form-control" id="applicantBirthCountry" name="applicantBirthCountry" ng-model="data.applicant.birthCountryCd" ng-change="updateState(data.applicant.birthCountryCd)">
					<option></option>
					<option ng-repeat="option in optionsData.countryOptions" value="{{option.id}}">{{option.value}}</option>
				</select>
			</div>
		</div>
		<div class="form-group" ng-if="optionsData.stateOptions.length > 0">
			<label for="applicantBirthState" class="col-sm-4 control-label">State</label>
			<div class="col-sm-8">
				<select class="form-control" id="applicantBirthState" name="applicantBirthState" ng-model="data.applicant.birthStateCd">
					<option></option>
					<option ng-repeat="option in optionsData.stateOptions" value="{{option.id}}">{{option.value}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="applicantRace" class="col-sm-4 control-label">Race</label>
			<div class="col-sm-8">
				<select class="form-control" id="applicantRace" name="applicantRace" ng-model="data.applicant.raceCd">
					<option></option>
					<option ng-repeat="option in optionsData.raceOptions" value="{{option.id}}">{{option.value}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="applicantReligion" class="col-sm-4 control-label">Religion</label>
			<div class="col-sm-8">
				<select class="form-control" id="applicantReligion" name="applicantReligion" ng-model="data.applicant.religionCd">
					<option></option>
					<option ng-repeat="option in optionsData.religionOptions" value="{{option.id}}">{{option.value}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="applicantLanguage" class="col-sm-4 control-label">Language</label>
			<div class="col-sm-8">
				<label class="checkbox-inline" ng-repeat="option in optionsData.languageOptions">
					<input type="checkbox" ng-model="data.applicant.language[option.id]"> {{option.value}}
				</label>
			</div>
		</div>
	</div>
	<div>&nbsp;</div>
	<hr />
	<button type="submit" class="btn btn-primary btn-lg" role="button" ng-click="backBtnClicked=false">Next</button>
	<button type="submit" class="btn btn-default btn-lg" role="button" ng-click="backBtnClicked=true" formnovalidate>Back</button>
</form>
