<form name="applicationForm" role="form" ng-submit="submit()" method="post" class="form-horizontal">
	<div class="jumbotron" style="padding: 20px 35px 15px 35px;">
		<h4>Application Details</h4>
		<hr/>

		<div class="form-group">
			<label for="applicationType" class="col-sm-4 control-label">Type of Application <span style="color:red;">*</span></label>
			<div class="col-sm-8 control-label">
				{{display.application.applicationType.description}}
<!-- 				Application Type A -->
			</div>
		</div>

		<div style="height: 40px;"></div>
		<h4>Applicant Details</h4>
		<hr/>
		<div class="form-group">
			<label for="applicantName" class="col-sm-4 control-label">Name <span style="color:red;">*</span></label>
			<div class="col-sm-8 control-label">
				{{data.applicant.name}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantNric" class="col-sm-4 control-label">NRIC <span style="color:red;">*</span></label>
			<div class="col-sm-8 control-label">
				{{data.applicant.nric}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantGender" class="col-sm-4 control-label">Gender</label>
			<div class="col-sm-8 control-label">
				{{display.applicant.gender.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantDob" class="col-sm-4 control-label">Date of Birth</label>
			<div class="col-sm-8 control-label">
				{{data.applicant.dob | date: 'dd MMM yyyy' }}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantBirthCountry" class="col-sm-4 control-label">Country of Birth</label>
			<div class="col-sm-8 control-label">
				{{display.applicant.birthCountry.value}}
			</div>
		</div>
		<div class="form-group" ng-if="display.applicant.birthState.value && display.applicant.birthState.value != ''">
			<label for="applicantBirthState" class="col-sm-4 control-label">State</label>
			<div class="col-sm-8">
				{{display.applicant.birthState.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantRace" class="col-sm-4 control-label">Race</label>
			<div class="col-sm-8 control-label">
				{{display.applicant.race.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantReligion" class="col-sm-4 control-label">Religion</label>
			<div class="col-sm-8 control-label">
				{{display.applicant.religion.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantLanguage" class="col-sm-4 control-label">Language</label>
			<div class="col-sm-8 control-label">
				{{display.applicant.languageDisplay}}
			</div>
		</div>
	</div>
	<div>&nbsp;</div>
	<hr />
	<button type="submit" class="btn btn-primary btn-lg" role="button" ng-click="backBtnClicked=false">Submit</button>
	<button type="submit" class="btn btn-default btn-lg" role="button" ng-click="backBtnClicked=true" formnovalidate>Edit Application</button>
</form>
