<h1>Apply for New Application</h1>
<div class="progress-numbering">
	<ul class>
		<li ng-class="{ 'completed' : data.pageState.step1Completed, 'active' : data.pageState.currentStep == 1, 'next' : (!data.pageState.step1Accepted && data.pageState.currentStep != 1) }">
			<a href="/#!/applnApplyNew/1">General Information</a>
		</li>
		<li ng-class="{ 'completed' : data.pageState.step2Completed, 'active' : data.pageState.currentStep == 2, 'next' : (!data.pageState.step2Completed && data.pageState.currentStep != 2) }">
			<a href="/#!/applnApplyNew/2">Application Details</a>
		</li>
		<li ng-class="{ 'completed' : data.pageState.step3Completed, 'active' : data.pageState.currentStep == 3, 'next' : (!data.pageState.step3Completed && data.pageState.currentStep != 3) }">
			<a href="/#!/applnApplyNew/3">Review & Submit</a>
		</li>
		<li ng-class="{ 'completed' : data.pageState.step4Completed, 'active' : data.pageState.currentStep == 4, 'next' : (!data.pageState.step4Completed && data.pageState.currentStep != 4) }">
			<a href="/#!/applnApplyNew/3">Acknowledgement</a>
		</li>
	</ul>
</div>
<div>&nbsp;</div>
<!-- <div ng-include src="subtemplateUrl"></div> -->
<div ui-view></div>
<div style="height: 40px;"></div>