<form role="form" ng-submit="submit()" method="post">
	<div class="bg-info" style="padding: 4px 15px 15px 15px;">
		<h3>Important Notes</h3>
		
		<ol>
			<li>You will take approximately 6 minutes to complete the transaction.</li>
			<li>This e-Service is intended for testing purpose.</li>
			<li>Please read the Privacy Statement and Terms of Use before proceeding further.</li>
		</ol>
	</div>	
	<div>&nbsp;</div>
	<hr />
	<p style="color: #CC0000;">Please click the 'Accept' button if you agree and accept the Terms & Conditions and wish to proceed with this service.</p>
	<div style="height: 20px;"></div>
	<button type="submit" class="btn btn-primary btn-lg" role="button">Accept</button>
	<input class="btn btn-default btn-lg" type="button" value="Back to Homepage" ng-click="back()">
</form>