<h1>Enquire Application Status</h1>
<!-- <div class="progress-numbering"> -->
<!-- 	<ul class> -->
<!-- 		<li ng-class="{ 'completed' : data.pageState.step1Completed, 'active' : data.pageState.currentStep == 1, 'next' : (!data.pageState.step1Accepted && data.pageState.currentStep != 1) }"> -->
<!-- 			<a href="/#!/applnApplyNew/1">General Information</a> -->
<!-- 		</li> -->
<!-- 		<li ng-class="{ 'completed' : data.pageState.step2Completed, 'active' : data.pageState.currentStep == 2, 'next' : (!data.pageState.step2Completed && data.pageState.currentStep != 2) }"> -->
<!-- 			<a href="/#!/applnApplyNew/2">Application Details</a> -->
<!-- 		</li> -->
<!-- 		<li ng-class="{ 'completed' : data.pageState.step3Completed, 'active' : data.pageState.currentStep == 3, 'next' : (!data.pageState.step3Completed && data.pageState.currentStep != 3) }"> -->
<!-- 			<a href="/#!/applnApplyNew/3">Review & Submit</a> -->
<!-- 		</li> -->
<!-- 		<li ng-class="{ 'completed' : data.pageState.step4Completed, 'active' : data.pageState.currentStep == 4, 'next' : (!data.pageState.step4Completed && data.pageState.currentStep != 4) }"> -->
<!-- 			<a href="/#!/applnApplyNew/3">Acknowledgement</a> -->
<!-- 		</li> -->
<!-- 	</ul> -->
<!-- </div> -->
<div>&nbsp;</div>
<p>This e-service allows users to enquire their applications online.</p>
<div>&nbsp;</div>
<form name="enquireApplnForm" role="form" ng-submit="search()" method="post" class="form-horizontal">
	<div class="form-group">
		<label for="applicationRefNo" class="col-sm-4 control-label">Application Ref. No.</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="applicationRefNo" name="applicationRefNo" ng-model="data.criteria.applicationRefNo">
		</div>
	</div>

	<div class="form-group">
		<label for="applicationType" class="col-sm-4 control-label">Type of Application</label>
		<div class="col-sm-8">
			<select class="form-control" id="applicationType" name="applicationType" ng-model="data.criteria.applicationTypeCd">
				<option></option>
				<option ng-repeat="option in optionsData.applnTypeOptions" value="{{option.id}}">{{option.description}}</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="applicantName" class="col-sm-4 control-label">Applicant Name</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="applicantName" name="applicantName" ng-model="data.criteria.name">
		</div>
	</div>
	<div class="form-group">
		<label for="applicantNric" class="col-sm-4 control-label">NRIC</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" id="applicantNric" name="applicantNric" ng-model="data.criteria.nric">
		</div>
	</div>

	<div class="form-group">
		<label for="applicationStatus" class="col-sm-4 control-label">Application Status</label>
		<div class="col-sm-8">
			<select class="form-control" id="applicationStatus" name="applicationStatus" ng-model="data.criteria.applicationStatusCd">
				<option></option>
				<option ng-repeat="option in optionsData.applicationStatusOptions" value="{{option.id}}">{{option.value}}</option>
			</select>
		</div>
	</div>

	<div>
		<button type="submit" class="btn btn-primary btn-lg" role="button">Search</button>
		<input class="btn btn-default btn-lg" type="button" value="Back to Homepage" ng-click="back()">
	</div>
</form>
<div style="height: 40px"></div>
<div ng-if="data.result">
	<div style="padding-bottom: 20px;" class="text-right" ng-if="data.result.total() > 0">
		Displaying {{((data.result.page()-1) * data.result.count()) + 1}} - {{((data.result.page()) * data.result.count())}} of {{data.result.total()}} records.
	</div>
	<table ng-table="data.result" class="table table-striped table-hover" show-filter="false">
		<tr style="height: 51px;" ng-repeat="item in $data">
			<td style="vertical-align: middle" title="'No.'">{{ ((data.result.page()-1) * data.result.count()) + $index + 1 }}</td>
			<td style="vertical-align: middle" title="'Application Ref No.'" sortable="'applicationRefNo'">{{item.applicationRefNo}}</td>
			<td style="vertical-align: middle" title="'Type of Application'" sortable="'applicationType'">{{item.applicationType.description}}</td>
			<td style="vertical-align: middle" title="'Name'" sortable="'applicantName'">{{item.applicantName}}</td>
			<td style="vertical-align: middle" title="'NRIC'" sortable="'applicantNric'">{{item.applicantNric}}</td>
			<td style="vertical-align: middle" title="'Submitted By'" sortable="'createdBy'">{{item.createdBy.name}}</td>
			<td style="vertical-align: middle" title="'Submitted On'" sortable="'createdOn'">{{item.createdOn | date: 'dd MMM yyyy HH:mm:ss'}}</td>
			<td style="vertical-align: middle" title="'Status'" sortable="'applicationStatus'">{{item.status.value}}</td>
			<td style="vertical-align: middle" title="'Action'">
				<input class="btn btn-primary" type="button" value="Withdraw" ng-click="withdrawAppln(item.id)" ng-show="item.status.value == 'Processing'">
			</td>
		</tr>
	</table>
<!-- 		<table class="table table-striped table-hover"> -->
<!-- 			<tr> -->
<!-- 				<th>#</th> -->
<!-- 			</tr> -->
<!-- 			<tr ng-repeat="item in data.result"> -->
<!-- 				<td>{{$index+1}}</td> -->
<!-- 			</tr>	 -->
<!-- 		</table> -->
	<div ng-if="data.result.total() <= 0">
		No result found.
	</div>
</div>
<!-- <div ng-include src="subtemplateUrl"></div> -->
<div style="height: 40px;"></div>
