<h1>List of Application for Processing</h1>
<div ng-if="data.result">
	<div style="padding-bottom: 20px;" class="text-right" ng-if="data.result.total() > 0">
		Displaying {{((data.result.page()-1) * data.result.count()) + 1}} - {{((data.result.page()) * data.result.count())}} of {{data.result.total()}} records.
	</div>
	<table ng-table="data.result" class="table table-striped table-hover" show-filter="false">
		<tr style="height: 51px;" ng-repeat="item in $data">
			<td style="vertical-align: middle" title="'No.'">{{ ((data.result.page()-1) * data.result.count()) + $index + 1 }}</td>
      <td style="vertical-align: middle" title="'Application Ref No.'" sortable="'applicationRefNo'">
				<a href ng-click="processAppln(item.id)">{{item.applicationRefNo}}</a>
			</td>
			<td style="vertical-align: middle" title="'Type of Application'" sortable="'applicationType'">{{item.applicationType.description}}</td>
			<td style="vertical-align: middle" title="'Name'" sortable="'applicantName'">{{item.applicantName}}</td>
			<td style="vertical-align: middle" title="'NRIC'" sortable="'applicantNric'">{{item.applicantNric}}</td>
			<td style="vertical-align: middle" title="'Submitted By'" sortable="'createdBy'">{{item.createdBy.name}}</td>
			<td style="vertical-align: middle" title="'Submitted On'" sortable="'createdOn'">{{item.createdOn | date: 'dd MMM yyyy HH:mm:ss'}}</td>
			<td style="vertical-align: middle" title="'Status'" sortable="'applicationStatus'">{{item.status.value}}</td>
			<!-- <td style="vertical-align: middle" title="'Action'">
				<input class="btn btn-primary" type="button" value="Approve" ng-click="approveAppln(item.id)">
        <input class="btn btn-primary" type="button" value="Reject" ng-click="rejectAppln(item.id)">
			</td> -->
		</tr>
	</table>
	<div ng-if="data.result.total() <= 0">
		No result found.
	</div>
</div>
