<form name="applicationForm" role="form" ng-submit="submit()" method="post" class="form-horizontal">
	<div class="jumbotron" style="padding: 20px 35px 15px 35px;">
		<h4>Application Details</h4>
		<hr/>

		<div class="form-group">
			<label for="applicationType" class="col-sm-4 control-label">Application Ref. No.</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicationRefNo}}
			</div>
		</div>

		<div class="form-group">
			<label for="applicationType" class="col-sm-4 control-label">Type of Application</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicationType.description}}
			</div>
		</div>

		<div class="form-group">
			<label for="applicationType" class="col-sm-4 control-label">Applied By</label>
			<div class="col-sm-8 control-label">
				{{data.application.createdBy.name}}
			</div>
		</div>

		<div class="form-group">
			<label for="applicationType" class="col-sm-4 control-label">Applied On</label>
			<div class="col-sm-8 control-label">
				{{data.application.createdOn | date: 'dd MMM yyyy HH:mm:ss' }}
			</div>
		</div>

		<div style="height: 40px;"></div>
		<h4>Applicant Details</h4>
		<hr/>
		<div class="form-group">
			<label for="applicantName" class="col-sm-4 control-label">Name</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicantName}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantNric" class="col-sm-4 control-label">NRIC</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicantNric}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantGender" class="col-sm-4 control-label">Gender</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicantGender.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantDob" class="col-sm-4 control-label">Date of Birth</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicantDob | date: 'dd MMM yyyy' }}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantBirthCountry" class="col-sm-4 control-label">Country of Birth</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicantBirthCountry.value}}
			</div>
		</div>
		<div class="form-group" ng-if="data.application.applicantBirthState.value && data.application.applicantBirthState.value != ''">
			<label for="applicantBirthState" class="col-sm-4 control-label">State</label>
			<div class="col-sm-8">
				{{data.application.applicantBirthState.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantRace" class="col-sm-4 control-label">Race</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicantRace.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantReligion" class="col-sm-4 control-label">Religion</label>
			<div class="col-sm-8 control-label">
				{{data.application.applicantReligion.value}}
			</div>
		</div>
		<div class="form-group">
			<label for="applicantLanguage" class="col-sm-4 control-label">Language</label>
			<div class="col-sm-8 control-label">
				{{display.languageDisplay}}
			</div>
		</div>
	</div>
	<div>&nbsp;</div>
	<hr />
	<button type="submit" class="btn btn-primary btn-lg" role="button" ng-click="data.decision='Approve'">Approve</button>
	<button type="submit" class="btn btn-primary btn-lg" role="button" ng-click="data.decision='Reject'">Reject</button>
	<input class="btn btn-default btn-lg" type="button" value="Back to List" ng-click="back()">
</form>
